<!DOCTYPE html>
<html>
<head>
    <title>Anime Search</title>
</head>
<body>
    <h1>Anime Search</h1>
    
    <form action="/anime-search" method="GET">
        <label for="anime_name">Enter Anime Name:</label>
        <input type="text" id="anime_name" name="name" required>
        
        <!-- Language Selector -->
        <label for="language">Select Language:</label>
        <select id="language" name="language">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
           
        </select>
        
        <button type="submit">Search</button>

    <!-- Display anime data here -->
    <div>
        <h2>Anime Information</h2>
        <p><strong>Title:</strong> {{ title }}</p>
        <p><strong>Description:</strong> {{ description }}</p>
        <img src="{{ picture_url }}" alt="Anime Image">
        <p><strong>MyAnimeList URL:</strong> <a href="{{ myanimelist_url }}">{{ myanimelist_url }}</a></p>
    </div>
</body>
</html>
